{% extends 'base.html' %}

{% block content %}

<div class="container justify-content-center style=width: 18rem;">
    <div class="row justify-content-center">
        <form method="POST" class="col-10">
  
    <h1>Welcome to JamBird, here to fuel your next great adventure!</h1>
    <br>
    <a href="#" class="btn btn-primary">Click here to learn more!</a>
    <br>
    <h3>Been here before, know what you want already?</h3>
    <a href="#" class="btn btn-primary">Click here to place an order!</a> 
    </form>
</div>
</div>


    
 
  


  





{% endblock %}


